/*padding to top and bottom of navbar*/
.top-bottom{
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

/*navbar border radius*/
.navbar.bd-radius{
  border-radius: 0px;
}

.navbar-right{
  margin-right: 5px !important;
}

.navbar{
  background-color: #B82128 !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color:black;
}

a{
  color: white;
}

/*navbar text size*/
.text-size{
  font-size: 20px;
}

/*margin fix on navbar to jumbotron*/
.mg-bottom{
  margin-bottom: 0px;
}

/*Padding fix for jumbotron*/
.pd-top{
  padding-top:0px;
  margin-bottom:0px;
  padding-bottom:0px
}

/*Background pic*/
.bg-image{
  display: flex;
  background-image:url('http://cdn.wallpapersafari.com/59/33/AliI8N.png');
  background-size: auto 100%;
  min-height: 700px;
  background-attachment: fixed;
  position: relative;
}

/*My Name on image*/
.name{
  color: black !important;
  font-family: 'Nunito', sans-serif;
  font-size: 8.5rem;
  margin: 0 auto;
}

.c-r-button{
  display: inline-block;
  padding: 3px;
  margin: 0 auto;
  white-space: nowrap;
}

.general-font{
  font-family: 'Nunito', sans-serif;
}

.para-pad{
  padding-top: 1.5rem;
  font-size: 2.0rem;
}

.border-b{
  border-bottom-style: thick;
  border-bottom-width: 2px;
  width:100%;
}

.pd-t{
  padding-top: 30px;
}

.background-c{
  background-color: black;
  color:white;
}
