/*padding to top and bottom of navbar*/
.top-bottom{
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

.top-bottom2{
  padding-top: 10px !important;
  padding-bottom: 15px !important;
}

.pd-tt{
  padding-top:10px;
}

/*navbar border radius*/
.navbar.bd-radius{
  border-radius: 0px;
}

.navbar-right{
  margin-right: 5px !important;
}

.navbar{
  /*background-color: #B82128 !important;*/
  background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color:#9c32bc;
}

a{
  color: black;
}

/*navbar text size*/
.text-size{
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  .text-size{
    font-size: 16px !important;
  }
}

/*margin fix on navbar to jumbotron*/
.mg-bottom{
  margin-bottom: 0px;
}

/*Padding fix for jumbotron*/
.pd-top{
  padding-top:0px;
  margin-bottom:0px;
  padding-bottom:0px
}

/*Background pic*/
.bg-image{
  background-image:url('https://artsy-media-uploads.s3.amazonaws.com/Og-95KqRWNk_NHaNVgY63g%2FView+of+Venice+from+Oscar+Boyson%27s+A+Short+History+of+the+Venice+Biennale+for+Artsy.jpg');
  min-height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron{
  background-color: white;
  padding-bottom: 350px;
}



/*My Name on image*/
.name{
  padding-top: 100px;
  color: #9c32bc !important;
  font-family: 'Nunito', sans-serif;
  font-size: 9.5rem !important;
  /*
  width: 24em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 10s steps(50, end);
  animation: type 2.5s steps(50,end);
  */
}
/*
@keyframes type{
    from { width: 24; }
}

@-webkit-keyframes type{
    from { width: 0; }
}
*/

@media only screen and (max-width: 450px) {
  .name{
    padding-top:0px;
    font-size: 4.5rem !important;
    color:blue !important;
  }
}

/*
@media only screen and (min-width: 1200px) {
  .name{
    font-size: 12.5rem !important;
    color:#9c32bc !important;
  }
}
*/

@media only screen and (max-width: 450px) {
  .space{
    margin-right: 15px !important;
  }
}

@media only screen and (max-width: 450px) {
  .c-r-button{
    font-size: 30px !important;
  }
}

.h{
  width:1px;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */
}

.c-r-button{
  font-size: 45px;
  padding-top: 10px;
}

.space{
  margin-right: 25px;
}

i:hover{
  color:#9c32bc;
  outline: none;
}

.c-r-button i:focus{
  outline: none;
}

.general-font{
  font-family: 'Nunito', sans-serif;
}

.para-pad{
  padding-top: 1.5rem;
  font-size: 2.0rem;
}

@media only screen and (max-width: 450px){
  .para-pad{
    font-size: 1.5rem;
  }

  .interest-para{
    font-size: 1.5rem !important;
  }
}

.interest-para{
  font-size: 1.7rem;
}

.pd-t{
  padding-top: 30px;
}

.background-c{
  background-color: black;
  color:white;
}

.cheese {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.cheese:hover .image {
  opacity: 0.3;
}

.cheese:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
}
