/*padding to top and bottom of navbar*/
.top-bottom{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/*navbar border radius*/
.navbar.bd-radius{
  border-radius: 0px;
}

.navbar-right{
  margin-right: 5px !important;
}

/*navbar text size*/
.text-size{
  font-size: 17px;
}

/*margin fix on navbar to jumbotron*/
.mg-bottom{
  margin-bottom: 0px;
}

/*Padding fix for jumbotron*/
.pd-top{
  padding-top:0px;
  margin-bottom:0px;
  padding-bottom:0px
}

/*Background pic*/
.bg-image{
  display: flex;
  background-image:url('http://cdn.wallpapersafari.com/59/33/AliI8N.png');
  background-size: auto 100%;
  min-height: 650px;
  background-attachment: fixed;
  position: relative;
  -moz-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
}

/*My Name on image*/
.name{
  position: absolute;
  color: black !important;
  top:10.62rem;
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
}

.c-r-button{
  position: absolute;
  display: inline-block;
  padding: 3px;
  top:22.62rem;
}

.general-font{
  font-family: 'Nunito', sans-serif;
}

.para-pad{
  padding-top: 1.5rem;
  font-size: 2.0rem;
}

.border-b{
  border-bottom-style: thick;
  border-bottom-width: 2px;
  width:100%;
}
