/*padding to top and bottom of navbar*/
body{
  background-repeat: no-repeat;
  background-size: cover;
}
/*navbar border radius*/
.navbar.bd-radius{
  border-radius: 0px;
}

.navbar-right{
  margin-right: 5px !important;
}

.navbar{
  /*background-color: #B82128 !important;*/
  background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color:#9c32bc;
}

/*navbar text size*/
.text-size{
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  .text-size{
    font-size: 16px !important;
  }
}

/*My Name on image*/
.name{
  padding-top: 200px;
  color:white !important;
  font-family: 'Nunito', sans-serif;
  font-size: 9.5rem !important;
}

@media only screen and (max-width: 450px) {
  .name{
    padding-top:0px;
    font-size: 4.5rem !important;
    color:blue !important;
  }
}

@media only screen and (max-width: 450px) {
  .space{
    margin-right: 15px !important;
  }
}

@media only screen and (max-width: 450px) {
  .c-r-button{
    font-size: 30px !important;
  }
}

.c-r-button{
  font-size: 45px;
  padding-top: 10px;
  color: white;
}

.space{
  margin-right: 25px;
}

i:hover{
  color:#9c32bc;
  outline: none;
}

a, a:visited, a:hover, a:active{
  color:inherit;
}